In [5]:
from pathlib import Path
import sys
import scipy
import numpy as np
import pandas as pd
import time
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split, StratifiedKFold

result_dir_path = Path('result')

if not result_dir_path.exists():
    result_dir_path.mkdir(parents=True)

/Users/kouki/opt/anaconda3/envs/signate/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [14]:
X_data, y_data = make_classification(
    n_classes=4,
    n_samples=10,
    n_features=6,
    n_clusters_per_class=1,
    n_informative=4,
    random_state=42
)

X_data

array([[-7.79528357e-01, -8.37848906e-01,  2.54595134e-01,
         1.02939101e+00,  1.90196296e-01,  1.18994694e+00],
       [ 2.95846270e-01,  2.48293059e+00, -3.69687911e-01,
        -2.73371432e+00,  5.21889196e-01, -1.70669126e+00],
       [-2.06052865e+00, -6.02944799e-01, -2.49969158e-01,
        -5.09678392e-01,  2.05371970e+00, -1.83105177e+00],
       [-1.46815162e+00, -8.88309008e-01, -3.09248724e-03,
         2.00872173e+00,  8.37717821e-04,  2.00654216e+00],
       [-9.40636473e-01, -1.11885800e+00,  7.21600032e-01,
        -1.32969776e+00,  2.07116486e+00, -1.38944886e+00],
       [-5.22425436e-01, -9.47308919e-01, -1.26334310e+00,
         1.74055037e+00, -3.09629310e-01, -1.90582553e+00],
       [-1.90491220e+00, -2.10986681e-02, -2.04345426e+00,
         2.66447734e+00, -4.46772176e-01, -1.10604041e+00],
       [-4.73545099e-01, -2.68399971e+00,  2.39644177e+00,
        -2.16933876e+00,  3.00758085e+00, -4.28708384e-01],
       [-1.81897569e-01,  2.40023417e+00, -5.00470589e-02,
        -1.84323370e+00,  2.25769448e-01,  3.99886903e-01],
       [-1.37861842e+00, -8.96789748e-01,  3.96128032e-01,
        -1.10392093e+00,  2.11705116e+00, -1.53228764e+00]])

In [15]:
data = pd.DataFrame(
    X_data, 
    columns=['X' + str(i + 1) for i in range(X_data.shape[1])]
)

new_0_col = 10

data = pd.concat([
    data,
    pd.DataFrame(
        np.zeros((data.shape[0], new_0_col)), 
        columns=['X' + str(i + data.shape[1] + 1) for i in range(new_0_col)]
    )
], axis=1)
data

In [16]:
data

         X1        X2        X3        X4        X5        X6
0 -0.779528 -0.837849  0.254595  1.029391  0.190196  1.189947
1  0.295846  2.482931 -0.369688 -2.733714  0.521889 -1.706691
2 -2.060529 -0.602945 -0.249969 -0.509678  2.053720 -1.831052
3 -1.468152 -0.888309 -0.003092  2.008722  0.000838  2.006542
4 -0.940636 -1.118858  0.721600 -1.329698  2.071165 -1.389449
5 -0.522425 -0.947309 -1.263343  1.740550 -0.309629 -1.905826
6 -1.904912 -0.021099 -2.043454  2.664477 -0.446772 -1.106040
7 -0.473545 -2.684000  2.396442 -2.169339  3.007581 -0.428708
8 -0.181898  2.400234 -0.050047 -1.843234  0.225769  0.399887
9 -1.378618 -0.896790  0.396128 -1.103921  2.117051 -1.532288

In [18]:
np.zeros((data.shape[0], new_0_col)).shape

(10, 10)